body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.title {
    color: #333;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.input {
    width: 97%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-sec {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-danger {
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
    .btn-sec:hover {
        background-color: #0056b3;
    }
    .btn-danger:hover{
        background-color: #940000;
    }

.mensaje {
    color: #28a745;
    font-weight: bold;
    
}

.btn-secondary {
    background-color: #6c757d;
}

.btn-danger {
    background-color: #dc3545;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: center;
}

.grid-item {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.container {
    text-align: center;
}

.form-group {
    margin-bottom: 10px;
}

.btn {
    margin: 5px;
}

.table-container {
    margin-top: 20px;
}


/* Estilos para GridView1 */
#GridView1 {
    width: 80%;
    margin: 10px auto; /* Centrar la tabla horizontalmente */
    border-collapse: collapse;
}

    #GridView1 th, #GridView1 td {
        padding: 8px;
        border: 1px solid #ddd;
    }

    #GridView1 th {
        background-color: #f2f2f2;
        color: #333;
    }

    #GridView1 tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    #GridView1 tr:hover {
        background-color: #f1f1f1;
    }

