/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos para los campos del formulario */
.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .form-group input {
        width: 97%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

/* Estilos para los botones */
.btn {
    display: inline-block;
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .btn:hover {
        background-color: #0056b3;
    }

.btn-secondary {
    background-color: #3fdd00;
}

.btn-danger {
    background-color: red;
}

    .btn-secondary:hover {
        background-color: #00800e;
    }

    .btn-danger:hover {
        background-color: #820000;
    }


.error-message {
    display: none;
    color: red;
    margin-top: 5px;
}
